d-i passwd/user-fullname string packer
d-i passwd/username string packer
d-i passwd/user-password password packer
d-i passwd/user-password-again password packer
d-i user-setup/allow-password-weak boolean true

d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Networking
d-i netcfg/disable_autoconfig boolean true

# IPv4 Setup
d-i netcfg/choose_interface select auto
d-i netcfg/get_ipaddress string 192.168.3.154
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 192.168.3.1
d-i netcfg/get_nameservers string 8.8.8.8
d-i netcfg/confirm_static boolean true

d-i pkgsel/include string open-vm-tools openssh-server

d-i finish-install/reboot_in_progress note

